* {
    font-family: monospace, sans-serif;
}

a {
    color: #947294;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 4vh;
}

body {
    margin: 1%;
    border: dashed rgb(106, 138, 138) 5px;
    background-color: #a0d0d0;
}

header {
    display: flex;
    border: ridge rgb(106, 138, 138) 5px;
    padding: 1%;
    background-color: beige;
}

header h1 {
    font-size: 60px;
}

header ul {
    list-style: none;
    display: flex;
    font-size: 30px;
    gap: 100px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about h2 {
    margin-bottom: 2vh;
}

#img {
    display: flex;
    justify-content: center;
}

#img img {
    border: ridge rgb(106, 138, 138) 10px;
    width: 500px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
}

footer {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 710px) {
    header ul {
        flex-direction: column;
        gap: 10px;
        
    }
}